.spacer {
    flex: 1 1 auto;
}

.tools-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-section mat-form-field {
    margin-bottom: -1.25em;
}

.account-section {
    display: flex;
    align-items: center;
}

.account-section p {
    margin: 0;
}