@use '../../styles.scss' as styles;

mat-card {
    width: 50%;
    height: calc(100vh - 2 * styles.$main-padding);
    margin: auto;
    margin-top: styles.$main-padding;
    justify-content: center;
}

mat-card-header {
    justify-content: center;
}

mat-card-content mat-form-field {
    width: 100%;
}

mat-card-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
