<div class="container">
    <div class="heading-card">
        <img [src]="data.image.url"/>
        <h1>{{ data.name }}</h1>
    </div>
    <h2>Powerstats</h2>
    <table mat-table [dataSource]="heroTable.powerstatsTable" fixedLayout="true">
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> {{ row.key }} </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> {{ row.value }} </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['key', 'value'];"></tr>
    </table>
    <h2>Biography</h2>
    <table mat-table [dataSource]="heroTable.biographyTable" fixedLayout="true">
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> {{ row.key }} </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> {{ row.value }} </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['key', 'value'];"></tr>
    </table>
    <h2>Appearance</h2>
    <table mat-table [dataSource]="heroTable.appearanceTable" fixedLayout="true">
        <ng-container matColumnDef="key">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> {{ row.key }} </td>
        </ng-container>
        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row"> {{ row.value }} </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: ['key', 'value'];"></tr>
    </table>
</div>