@use '../../styles.scss' as styles;
@use '@angular/material' as mat;

$theme-accent: mat.define-palette(mat.$pink-palette);
$theme-bg: mat.define-palette(mat.$grey-palette);

main {
    padding: styles.$main-padding;
}

.heroes-list mat-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.heroes-list mat-card .spacer {
    flex: 1 1 auto;
}

.heroes-list mat-card-header {
    padding: 0;
}

.heroes-list mat-card-header img {
    width: 60px;
    border-radius: 100px;
}

nav .spacer {
    flex: 1 1 auto;
}

nav .tools-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-box input {
    height: 30px;
    border-radius: 100px;
    background-color: mat.get-color-from-palette($theme-bg, 800);
    color: #fff;
    border: none;
    padding-left: 10px;
}

.search-box input::placeholder {
    color: #6f6f6f;
}

nav .account-section {
    display: flex;
    align-items: center;
}

nav .account-section p {
    margin: 0;
}

hero-info-component {
    max-height: 80vh;
    display: block;
}
