.heroes-list mat-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.heroes-list mat-card .spacer {
    flex: 1 1 auto;
}

.heroes-list mat-card-header {
    padding: 0;
}

.heroes-list mat-card-header img {
    width: 60px;
    border-radius: 100px;
}

hero-info-component {
    max-height: 80vh;
    display: block;
}
